<!doctype html>
<!--
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en" style="height:100vh;">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dashboard | Bootstrap Simple Admin Template</title>
	<link href="~/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
	<link href="~/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
	<link href="~/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
	<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/assets/css/master.css" rel="stylesheet">
	@* <link href="~/assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet"> *@
	<link href="~/css/dashboard.css" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		<div id="body" class="active">
			<nav class="navbar fixed-top navbar-expand-lg navbar-white bg-white">
				@* <button type="button" id="sidebarCollapse" class="btn btn-light">
					<i class="fas fa-bars"></i><span></span>
				</button> *@
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="nav navbar-nav ms-auto">
						<li class="nav-item align-content-center">
							<a asp-controller="Dashboard" asp-action="TestUsers" class="btn btn-info">Test (create test users & user requests)</a>
						</li>
						<partial name="_LoginPartial.cshtml" />
					</ul>
				</div>
			</nav>

			<div class="row">
				<div class="col-2" id="sidebar-col">
					<nav id="sidebar">
						<div class="sidebar-header">
						</div>
						<ul class="list-unstyled components text-secondary">
							<li>
								<a asp-action="Index" class="text-dark fs-5"><i class="fas fa-home"></i> Dashboard</a>
							</li>
							<li>
								<a asp-action="Tasks" class="text-dark fs-5"><i class="fa-solid fa-list-check"></i> Tasks</a>
							</li>
							<li>
								<a asp-action="Users" class="text-dark fs-5"><i class="fas fa-user"></i>Users</a>
							</li>
							<li>
								<a asp-action="Groups" class="text-dark fs-5"><i class="fas fa-users"></i>Groups</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>

	<script src="~/assets/vendor/jquery/jquery.min.js"></script>
	<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/vendor/chartsjs/Chart.min.js"></script>
	<script src="~/assets/js/dashboard-charts.js"></script>
	<script src="~/assets/js/script.js"></script>
	<script src="~/js/dashbaord.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>