@model List<Group>;

@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12 page-header">
			<h2 class="page-title">Groups</h2>
		</div>
	</div>
	<div class="row align-content-center mt-3">
		<div class="col-md-12 mt-3">
			<div class="list-group">

				

			</div>
		</div>
	</div>
</div>
