@model List<User>;

@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12 page-header">
			<h2 class="page-title">Users</h2>
		</div>
	</div>
	<div class="row align-content-center mt-3">
		<div class="col-md-4">
			<h5>Requests</h5>
		</div>
		<div class="col-md-8">
			<h5>My Staff</h5>
				@foreach (var u in Model)
				{
					<a asp-action="UserDetails" asp-route-id="@u.Id" class="" aria-current="true">
						<div class="card">
							<div class="row">
								<div class="col-auto align-content-center">
									<img src="~/images/64px-Default_pfp.svg.png" class="card-img img-fluid" />
								</div>
								<div class="col">
									<div class="card-body">
										<h6>@u.DisplayName</h6>
										<div class="card-text">
											@u.Email
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				}

		</div>
	</div>
</div>
