
<div class="row">
	<div class="card" style="height: 550px;max-height: 550px;margin:0;">
		<div class="card-header">Tasks</div>
		<div class="card-body">
			<ul class="list-group">
				@if (ViewBag.Tasks != null)
				{
					@foreach (var t in ViewBag.Tasks)
					{
						<li class="list-group-item">

						</li>
					}
				}
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="card" style="height: 150px;max-height: 150px;">
		<div class="card-header">Members</div>
		<div class="card-body">
			<ul class="list-group">
				@if (ViewBag.Memberships != null)
				{
					@foreach (var m in ViewBag.Memberships)
					{
						<li class="list-group-item">

						</li>
					}
				}
			</ul>
		</div>
	</div>
</div>
