#pfp {
  width: 128px;
  height: 128px;
  background: url("/images/128px-Default_pfp.svg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 50%;
}

  #pfp:hover {
    cursor: pointer;
  }
